*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #1A5266;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;      /*Ninguna decoracion en la etiqueta a */
    cursor: pointer;            /*Al selecionar el icono tenga la mano el raton*/
}

header{
    background-color: gray;
    width: 100%;
    height: 6rem;
}
header nav{
    display: flex;              /*Se utliza para posicionar el contenido*/
    justify-content: flex-end;  /*El contenido se manda hacia la derecha*/
}
header nav .nav-right-section{
    width: 25rem;
    height: auto;               /*Con auto tomamos la altura automatica del header en esta ocasion*/
    display: flex;
    list-style: none;           /*Le quitamos el estilo de la lista*/
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 1rem;         /*Con el margen de derecha, separaremos la lista*/
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');  /*Nos traemos la imagen con una URL*/
    background-repeat: no-repeat;      /*La imagen no se repita*/
    background-position: center;         /*El icono se mantenga en el centro*/
    background-size: contain;            /*El icono se aproxime el tamaño del contenedor*/
    width: 2.5rem;
    height: 2.5rem;
}
nav .nav-right-section img{
    border-radius: 50%;             /*El icono se redondea*/
    margin-left: 1rem;              /*El icono se aleja 10 pixeles de la izq*/ 
}


main{
    background-color: grey;
}
footer{
    background-color: grey
}

.div_pais{
    border: 15rem;
    border-color: black;
    color: black;
}
