*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;      /*Ninguna decoracion en la etiqueta a */
    cursor: pointer;            /*Al selecionar el icono tenga la mano el raton*/
}

header{

    width: 100%;
    height: 6rem;
}
header nav{
    display: flex;              /*Se utliza para posicionar el contenido*/
    justify-content: flex-end;  /*El contenido se manda hacia la derecha*/
}
header nav .nav-right-section{
    width: 25rem;
    height: auto;               /*Con auto tomamos la altura automatica del header en esta ocasion*/
    display: flex;              /*flex nos ayuda a comodar los items de forma vertical*/
    list-style: none;           /*Le quitamos el estilo de la lista*/
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 1rem;         /*Con el margen de derecha, separaremos la lista*/
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');  /*Nos traemos la imagen con una URL*/
    background-repeat: no-repeat;      /*La imagen no se repita*/
    background-position: center;         /*El icono se mantenga en el centro*/
    background-size: contain;            /*El icono se aproxime el tamaño del contenedor*/
    width: 2.5rem;
    height: 2.5rem;
}
nav .nav-right-section img{
    border-radius: 50%;             /*El icono se redondea*/
    margin-left: 1rem;              /*El icono se aleja 10 pixeles de la izq*/ 
}

main{
    margin-top: 15rem;              /*Separarlo del nav*/
    text-align: center;             /*Alinearlo en el centro*/
}

main .main-logo{
    width: 53rem;
    margin: 0 auto;         /*Se posiciona en el espacio que falta*/
    margin-bottom: 3.5rem;
}
main .main-logo img{
    width: 27.2rem;
    height: 9.2rem;
}
main .main-input{
    width: 53rem;
    margin: 0 auto;         /*Se posiciona en el espacio que falta*/
    margin-bottom: 3.5rem;
}
main .main-input-container{
    width: 52.5rem;
    border-radius: 10rem;
    border: .1rem solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;

}
main .main-input input{
    width: 45rem;
    height: 4rem;
    border: none;       
    outline: none;      /* Nos sirve para quitar el borde generado cuando damos click a un input*/
}
main .main-input-container:hover{ /* Un seudoelemento, la idea es que al momento que el cursor pase 
    ariba de nustro elemento haz algo y el efecto es lo que contenga el blocque de css*/
    box-shadow: 0 .1rem .6rem 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
}
main .main-input .micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}
main .main-buttons{
    width: 53rem;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline;  /*Posiciona los div en una linea*/
}
main .main-buttons button{
    height: 3.6rem;
    background-color: #f2f2f2;
    border: none;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: .5rem;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
}
main .main-buttons button:hover{
    border: .1rem solid #c6c6c6;
    box-shadow: 0 .1rem .1rem rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
}

footer{
    background-color: grey
}

